<div class="row m-0 mt-5 justify-content-center">
  <div class="col-6">
    <form [formGroup]="quillForm">
      <quill-editor
        [modules]="modules"
        format="html"
        formControlName="editor"
      ></quill-editor>
    </form>
  </div>
</div>
<div class="row m-0 mt-2 justify-content-center">
  <div class="col-6">
    <button class="btn btn-primary" (click)="getText()">Text</button>
  </div>
</div>

<div class="row m-0 justify-content-center">
  <div class="col-10">
    <ng-container *ngIf="text?.length">
      <p>{{ text }}</p>
      <br />
    </ng-container>
  </div>
</div>
