<router-outlet></router-outlet>

<!-- Quill Mentions start -->
<app-quill-mention></app-quill-mention>
<!-- Quill Mentions end -->

<!-- Angular Mentions start -->
<!-- <app-mention></app-mention> -->
<!-- Angular Mentions end -->

<!-- Custom start -->
<!-- <div class="row d-flex justify-content-center m-0">
  <div class="col-4">
    userName {{ userName }}
    <div class="row">
      <div class="col-10">
        <input
          type="text"
          class="form-control"
          (keyup)="onKeyUp($event)"
          [value]="isMention && userName ? userName : ''"
        />
        <ng-container *ngIf="isMention">
          <div class="form-control" (click)="onClick($event)">
            <option [value]="user.id" *ngFor="let user of userData">
              {{ user.name }}
            </option>
          </div>
        </ng-container>
      </div>
      <div class="col-2">
        <button class="btn btn-info">Submit</button>
      </div>
    </div>
  </div>
</div>

<div
  class="row justify-content-center m-0"
  *ngIf="userName && selectedUser"
>
  <div class="col-4">
    <div class="row">
      <div class="col-10">
        <h6>Mentioned user : {{ selectedUser.id }}</h6>
        <h6>Mentioned user_name : {{ selectedUser.user_name }}</h6>
        <h6>Mentioned name : {{ selectedUser.name }}</h6>
        <h6>Mentioned email : {{ selectedUser.email }}</h6>
      </div>
    </div>
  </div>
</div> -->
<!-- Custom end -->
